* {
    font-family: sans-serif;
}

nav {
    font-weight: bolder;
}

#text {
    font-family: 'Patua One', cursive;
    color: #104990;
    letter-spacing: 3px;
    font-size: 50px;
    font-weight: bolder;
}

#texto {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

span {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

#boton {
    font-family: 'Montserrat', sans-serif;
    background-color: #104990;
    border-radius: 20px;
}

#botoncarrito {
    font-family: 'Montserrat', sans-serif;
    background-color: #104990;
    border-radius: 20px;
    color: white;
}

#boton:hover {
    background-color: rgb(29, 29, 177);
    box-shadow: 5px 5px 5px rgb(206, 200, 200);
}

#lista {
    border: 10px;
    border-color: red;
}

#image {
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .6s;

}

#image:hover {
    transform: scale(1.1);
}